.vscode/**
.vscode-test/**
node_modules/**
src/**
out/test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
.github/**
test/**
docs/**
images/**
.eslintrc.js
.prettierrc
webpack.config.js
tsconfig.tsbuildinfo
**/.DS_Store
yarn.lock
package-lock.json
